name: CI-Pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  NO_CONTAINER: "true"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  CI_Pipeline:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
          submodules: true

      # Setup tools
      - name: Setup tools
        run: |
          pip install pre-commit
          pre-commit install

      # Check for pre-commit updates if it is a renovate PR
      - name: Renovate pre-commit sweeper
        run: make pre-commit-sweeper
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      # run pre-commit against all files
      - name: Pre-commit
        run: make pre-commit-no-terraform
